<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <script type="module" src="/static/dist/script.js"></script>
    <title>{{ title }}</title>
</head>

<body>
    <div id="tooltip"></div>

    <div id="customConfirm" class="custom-confirm hidden">
        <div class="custom-confirm-content">
            <p id="customConfirmMessage"></p>
            <button id="confirmYes">Yes</button>
            <button id="confirmNo">No</button>
        </div>
    </div>

    <nav>
        <div class="nav-container">
            <!-- request.path er URL-stien brugeren er på lige nu -->
            <a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a>

            <a href="/destinations" class="{% if request.path.startswith('/destinations') %}active{% endif %}">
                Destinations
            </a>

            {% if user %}
            <a href="/profile" class="{% if request.path.startswith('/profile') %}active{% endif %}">
                My profile
            </a>
            {% endif %}

            {% if not user %}
            <a href="/login" class="{% if request.path == '/login' %}active{% endif %}">
                Login
            </a>
            {% else %}
            <a href="/logout">Logout</a>
            {% endif %}
        </div>
    </nav>