{% include "_header.html" %}

<main>
    <h1>Travel Destinations</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse eligendi excepturi neque. Corrupti quidem
        perferendis vero ipsam. Qui, veritatis possimus. Aperiam nostrum natus totam praesentium ad veritatis beatae
        amet tempora?
        Illum explicabo nisi perspiciatis et eius dolore facere, quasi nihil cumque. Debitis, itaque fuga! Maiores
        corrupti cupiditate ipsum cum, qui nesciunt sunt! Voluptates necessitatibus quibusdam in laborum incidunt! Sit,
        rerum.
        Atque soluta sit placeat quasi obcaecati repellendus hic autem, aliquid vitae natus fuga cumque pariatur labore.
        Error, quis? Iste, mollitia provident omnis qui accusamus eum maxime fuga quia aperiam labore.</p>
    <a class="btn-primary" href="/destinations">Show travel destinations</a>
</main>

{% include "_footer.html" %}