{% include "_header.html" %}

<main>
    <form mix-post="/api-login" autocomplete="off" novalidate>
        <div>
            <label for="">Email <span>*</span></label>
            <input name="user_email" placeholder="user email" type="text" value="" mix-validate="{{x.REGEX_USER_EMAIL}}"
                required>
        </div>

        <div>
            <label for="">Password <span>* {{x.USER_PASSWORD_MIN}} to {{x.USER_PASSWORD_MAX}}
                    characters</span></label>
            <input name="user_password" placeholder="user password" type="password" value=""
                mix-validate="{{x.REGEX_USER_PASSWORD}}" required>
        </div>

        <button class="btn-primary">Login</button>
    </form>

    <div class="signup_box">
        <p>Har du ikke en bruger?</p>
        <a class="btn-primary" href="/signup">Signup</a>
    </div>
</main>

{% include "_footer.html" %}